body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: auto auto auto;
    background: rgb(0, 100, 255);
    color: white;
    text-align: center;
    box-shadow: 1px 1px 5px black;
}

#page {
    padding: 10px;
}

header > div {
    cursor: pointer;
}

header > div:hover {
    cursor: pointer;
    background: blue;

}

footer {
    background: gray;
    text-align: center;
}
